<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>KAADEN BLOG</title>
    <link rel="icon" type="image/x-icon" href="http://kaaden.orrzt.com/public/client/logo.jpg">
</head>

<body>
    <div id="root"></div>
    <script type="text/javascript">
        window.onload = function () {
            fontSize()
        }
        function fontSize() {
            let deviceWidth = document.documentElement.offsetWidth;
            if (deviceWidth > 1920) {
                deviceWidth = 1920;
            }
            let fontsize = deviceWidth / 19.2;
            document.documentElement.style.fontSize = `${fontsize}px`
            console.log(document.documentElement.style.fontSize)
        }
        function getExplore() {
            var userAgent = navigator.userAgent
            if (userAgent.indexOf("Opera") > -1 || userAgent.indexOf("OPR") > -1) {
                return "Opera"
            } else if (userAgent.indexOf("MicroMessenger") > -1) {
                return "WeChat"
            } else if (userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1) {
                return "IE"
            } else if (userAgent.indexOf("Edge") > -1) {
                return "Edge"
            } else if (userAgent.indexOf("Firefox") > -1) {
                return "Firefox"
            } else if (userAgent.indexOf("Safari") > -1 && userAgent.indexOf("Chrome") === -1) {
                return "Safari"
            } else if (userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1) {
                return "Chrome"
            } else if (!!window.ActiveXObject || "ActiveXObject" in window) {
                return "IE>=11"
            } else {
                return "Unkonwn"
            }
        }
        var ex = getExplore()
        if (ex !== "Chrome") {
            alert("如不兼容，请切换极速模式或Chrome浏览器打开")
        }

    </script>
</body>

</html>