.main {
    width: 20%;
}

.mainItem {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #e1e4e8;
    margin-bottom: 0.3rem;
}

.mainItem:hover {
    box-shadow: 0 0 20px #e1e4e8;
}

.mainImg {
    width: 100%;
    height: 230px;
}

.mainItemContent {
    padding: 0.1rem .2rem;
}

.mainName {
    font-weight: 600;
    font-size: 0.22rem;
    color: #24292e;
}

.mainDesc {
    font-size: .14rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 1.5;
    margin-bottom: .1rem;
    color: #24292e;
}

.mainSame {
    margin-bottom: .1rem;
    color: #24292e;
    font-size: .14rem;
}

.mainItemBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .2rem;
}

.iconItem {
    color: #9EABB3;
    margin-right: 0.3rem;
    cursor: pointer;
    font-size: 0.28rem;
}

.iconItem:hover {
    color: #1890ff
}

.mainItemTile {
    font-size: 0.22rem;
    font-weight: 600;
}

.mainItemtag {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: .1rem 0;
}